/*Variables Globales*/
:root {
    --mintgreen: #F4E285;
    --celadon: #F4A259;
    --tangelo: #F6511D;
    --gunmetal: #19323C;
    -oxfordblue: #011638;
    --blanco: #FFF;
    --oscuro: #000;

    --fuentePrincipal: 'Staatliches', cursive;

}

/*Mejoras*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/

body {
    font-size: 1.6rem;
    background-color: var(--mintgreen);
    line-height: 1.5;

}

p {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor--producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    align-self: center;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--gunmetal);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
    max-width: 50rem;
}

/*Footer*/
.footer {
    background-color: var(--celadon);
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: center;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/*Navegacion*/
.navegacion {
    background-color: var(--celadon);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /*Separacion Forma Nueva*/

}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    /* margin-right: 2rem; Separacion forma Antigua */
}

/* .navegacion__enlace:last-of-type{  Para no dejar separacion de margen en el ultimo elemento.
    margin-right: 0;
} */

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--gunmetal);
}

/*Grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Productos*/

.producto {
    display: flex;
    background-color: var(--celadon);
    padding: 1rem;
    align-items: flex-end;
    font-family: var(--fuentePrincipal);
}

.producto__informacion {
    display: grid;
    grid-template-rows: auto auto auto;
}

.producto__nombre,
.producto__precio,
.producto__descripcion,
.producto__categoria {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
    font-size: 4rem;
}

.producto-detalle__imagen-container {
    display: flex;
    justify-content: center;
}

.producto-detalle__imagen {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.producto__nombre {
    grid-row: 1 / 2;
}

.producto__descripcion {
    grid-row: 3 / 4;
    font-size: 2.5rem;
}

s .producto__categoria {
    font-size: 3rem;
}

.producto__precio {
    grid-row: 5/ 6;
}

/*Graficos*/
.grafico {
    min-height: 30rem;
    grid-column: 1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3;

    background-image: url(../img/grafico1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
    background-repeat: no-repeat;
    background-size: cover;
}*/

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/*Nosotros*/

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);

}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, auto);
        column-gap: 2rem;
    }

    .nosotros__contenido p {
        padding-top: 5rem;
        text-align: justify;
        color: var(--oscuro);
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/**.bloques**/

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque p {
    text-align: center;
    color: var(--oscuro);
}

.bloque__titulo {
    margin: 0;
}

/** Pagina del Producto **/
@media (min-width: 768px) {
    .camisa {
        grid-column: 1/2;
        column-gap: 2rem;
        row-gap: 0.5rem;

    }
}

.producto__detalles {
    color: var(--oscuro);
    font-family: var(--fuentePrincipal);
    grid-column: 2/3;
    display: grid;
    padding: auto;
    grid-template-rows: repeat(4, auto);
    padding: 1rem;
}

.vistaproducto__descripcion {
    color: var(--oscuro);
    font-family: var(--fuentePrincipal);
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    grid-row: 2/3;
}

.vistaproducto__imagen {
    margin: auto;
    max-width: 100%;
    grid-column: 1 / 2;
    padding: .5rem;
}

.vistaproducto__precio {
    color: var(--oscuro);
    font-family: var(--fuentePrincipal);
    margin: auto;
    font-size: 4rem;
    text-align: center;
    grid-row: 1/2;
}

.vistaproducto__categoria {
    grid-row: 3/4;
    color: var(--oscuro);
    font-family: var(--fuentePrincipal);
    margin: auto;
    font-size: 4rem;

}

/* Estilo para el botón "Contacto" */
.vistaproducto__contactar {
    font-family: var(--fuentePrincipal);
    padding: 10px 20px;
    background-color: var(--celadon);
    color: var(--blanco);
    border: none;
    border-radius: 4px;
    font-size: 4rem;
    cursor: pointer;
}

.vistaproducto__contactar:hover {
    background-color: var(--mintgreen);
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.formulario__campo {
    border-color: var(--oscuro);
    border-width: 1rem;
    border-style: solid;

    border: 1rem solid var(--oscuro);
    /** Manera Resumida, toma primero el width, luego el style y el color al ultimo**/
    background-color: transparent;
    color: var(--oscuro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.formulario__submit {
    background-color: var(--celadon);
    border: none;
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: #F55D;
}

/* aqui empece el estilo para el login y el form */
.form__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__contenedor {
    background-color: var(--mintgreen);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.form__campo {
    margin-bottom: 15px;

}

.form__campo label {
    display: block;
    margin-bottom: 5px;
    font-family: var(--fuentePrincipal);
}

.form__campo input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form__campo input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
}

.form__campo input[type="submit"]:hover {
    background-color: #45a049;
}

.boton-contactar {
    font-style: var(--fuentePrincipal);
    background-color: var(--gunmetal);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.boton-contactar:hover {
    background-color: #45a049;
}